.scrollup {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0.5rem;
    border-radius: 0.4rem;
    color: var(--container-color);
    transition: .4s;
    z-index: 100;
}

.scroll__icon {
    font-size: 1.5rem;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
    transform: translateY(-.25rem);
}


::-webkit-scrollbar {
    width: .8rem;
    border-radius: .5rem;
    background-color: hsl(19, 8%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(19, 8%, 60%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(19, 8%, 45%);
}

/* Show Scroll */
.show-scroll {
    bottom: 3rem;
}


/* For large devices */
@media screen and (max-width: 992px) {
    .scrollup {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }
    
    .scrollup__icon {
        font-size: 1.25rem;
    }
    }
    
    /* For medium devices */
    @media screen and (max-width: 768px){
        .show-scroll {
            bottom: 4rem;
        }
    }
    
    @media screen and (max-width: 576px){
        .scrollup {
            right: 1rem;
        }
      }
    
    /* For small devices */
    @media screen and (max-width: 350px){
    
    }