.export {
    position: relative;
}
.export__container {
    grid-template-columns: repeat(2,1fr);
    padding: 0 2rem 5rem ;
}

.image__stack {
    position: relative;
    width: 350px;
}
.export__img {
    max-width: 100%;
}
.image__hero {
    position: absolute;
    right: 0;
    border: 1px solid hsl(0, 0%, 84%);
    bottom: .4rem;
    background-color: var(--container-color);
    width: 320px;
}

.export__leaf-1,
.export__leaf-2 {
    position: absolute;
    opacity: .2;
}

.export__leaf-1 {
    width: 80px;
    top: 17rem;
    left: -1rem;
    transform: rotate(15deg);
}

.export__leaf-2 {
    width: 40px;
    right: -1rem;
    bottom: 12rem;
    transform: rotate(-30deg);
}

.hero {
    position: relative;
    bottom: -1rem;
    left: -1rem;
    color: #fff;
    background-color: hsl(19, 64%, 40%);
    padding: 1.5rem;
}

.hero__title {
    padding-bottom: 1rem;
    color: #fff;
    font-family: var(--subtitle-font);
    font-weight: var(--font-semi-bold);
}

.hero__description {
    font-size: var(--smaller-font-size);
    max-width: 250px;

}

.export__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.export__title {
    color: var(--first-color);
    font-family: var(--subtitle-font);
    font-size: var(--h1-font-size);
    font-weight: var(--font-normal);
    margin-bottom: 1.5rem;
}

.export__subtitle {
    font-family: var(--title-font);
}

.export__subtitle, .export__description {
    margin-bottom: 1.9rem;
}
 
.main__export {
    display: flex;
    align-items: center;
} 

.export__label {
    border: 1px solid hsl(0, 0%, 60%);
    padding: 1.1rem;
    width: 350px;
}

.main__hero {
    font-weight: var(--font-semi-bold);
}

/* ====================== BREAKPOINTS ======================== */

/* For large devices */
@media screen and (max-width: 992px) {
    .export__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
        padding: 5rem 0;
    }
    .export__data, .image__stack {
        margin: auto;
    }
    .export__data {
        text-align: center;
        max-width: 400px;
    }
    .export__label {
        margin-left: 1.5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px){
    .section {
        padding: 2rem 0 4rem;
    }
  }
  
  @media screen and (max-width: 576px){
    .export__label {
        margin-left: 0;
    }
    .image__stack {
        width: inherit;
    }
    .export__img {
        max-width: 300px;
    }
    .image__hero {
        width: inherit;
    }
    
    .export__label {
        width: inherit;
    }

    .hero {
        left: 0;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px){
    .export__img {
        max-width: 100%;
    }
}