.team__container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    margin-bottom: 5rem;
}
.team__header {
    text-align: center;
    margin: auto;
    order: 3;
    position: relative;
}
.team__subtitle {
    font-weight: var(--font-semi-bold);
    position: relative;
    font-family: var(--subtitle-font);
    font-size: var(--h1-font-size);
    margin-bottom: 1rem;
}

.team__subtitle::after {
    margin-left: .5rem;
    content: " ";
    position: absolute;
    background-color: var(--title-color);
    width: 2rem;
    height: .1rem;
    top: .8rem;
}

.team__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: 1rem;
}

.spec {
    background-color: var(--body-color);
    color: var(--text-color);
    border: 1.2px solid var(--first-color);
    font-weight: var(--font-medium);
}


.spec:hover {
    color: var(--container-color);
}
.team__card {
    margin: auto;
    position: relative;
    text-align: center;
}

.team__outline {
    width: 300px;
    padding:14rem 0 3rem 1rem;
    border: 1px solid hsl(0, 0%,85%);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.team__image {
    position: absolute;
    top: -4rem;
    left: 2.75rem;
}

.team__social {
    background-color: var(--first-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--container-color);
    font-size: var(--h2-font-size);
    font-weight: 200;
    position: absolute;
    bottom: -1.5rem;
}

.team__social i {
    font-size: var(--h1-font-size);
}

/* ====================== BREAKPOINTS ======================== */

/* For large devices */
@media screen and (max-width: 992px) {
        .team__container {
            flex-direction: column;
            margin-top: 0;
            margin-inline: 0;
        }
        
        .team__card {
            margin-top: 15rem;
        }
        .team__header {
            order: inherit;
            top: 0;
        }
    }
    
    /* For medium devices */
    @media screen and (max-width: 768px){

    }
    
    @media screen and (max-width: 576px){

      }
    
    /* For small devices */
    @media screen and (max-width: 350px){
        .team__outline {
            width: 240px;
        }
        .team__image {
            left: 2.1875rem;
            width: 170px;
        }
        .team__social {
            left: auto;
        }
    }
    @media screen and (max-width: 270px){
        .team__outline {
            width: inherit;
            padding:14rem 3rem 3rem;

        }
        .team__image {
            left: inherit;
            width: 150px;
        }

    }