.about {
    position: relative;
}

.about__container {
    row-gap: 5rem;
}

.about__data {
    text-align: center;
    padding-inline: 1rem;
}

.about__description {
    padding: 1rem;
}

.about__list {
    text-align: left;
    display: grid;
    padding:0 0 3rem 3rem;
    line-height: 1.5rem;
}

.about__item {
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding: .5rem;

}

.about__item::before {
    content: "\2022";
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    width: 1.5rem;
    font-size: 2rem;
}

.about__img {
    border-radius: .25rem;
    width: 90%;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.10));
}

.lower__layer1, .lower__layer2 {
    border: 2px dashed hsl(19, 64%, 90%);
    position: absolute;
    width: 200px;
    height: 200px;
}
.lower__layer1 {
    top: -1rem;
    right: 4rem;
}

.lower__layer2 {
    bottom: -1rem;
    left: 4rem;
}
.upper__layer {
    position: relative;
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 0 3rem;

}

.leaf__img {
    width: 100px;
    opacity: .2;
    position: absolute;
    right: -1.5rem;
    bottom: 11rem;
    transform: rotate(-15deg);
}


/* ====================== BREAKPOINTS ======================== */

/* For large devices */
@media screen and (min-width: 992px) {
    .about__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .upper__layer {
        width: 450px;
        padding: 2rem;
    }
    .about__img {width: 100%;}
}

/* For medium devices */
@media screen and (min-width: 768px){
    .lower__layer1, .lower__layer2 {
        width: 85%;
        height: 350px;
    }
}

@media screen and (max-width: 576px){
    .lower__layer1, .lower__layer2 {
        width: 70%;
        height: 250px;
    }  
}

@media screen and (min-width: 360px){

}

/* For small devices */
@media screen and (max-width: 360px){
    .about__list {
        padding: 0;
    }
    .about__description {
        padding: 1rem 0;
    }
    
    .upper__layer {
        width: 300px;
    }
    .about__img {
        width: 200px;
    }
}

@media screen and (max-width: 300px){
    .upper__layer {
        width: 100%;
    }

    .lower__layer1,
    .lower__layer2 {
        width: 150px;
        height: 150px;
    }
}
